.about-page {
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
}

.about-container {
    background-color: whitesmoke;
}

.about-page img {
    margin: 0;
    width: 50%;
    height: 50%;
}

.about-page-upper {
    height: 100%;
    padding: 20px 5% 20px 5%;
    border-radius: 1px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.about-page-upper p{
    font-size: 16px;
}

.about-page-upper h2 {
    border-left: 5px solid #424B54;
    font-size: 30px;
    padding-left: 10px;
}

.about-page-upper p {
    padding-left: 12px;
}

.about-page-upper h5 {
    font-size: 26px;
    font-weight: bold;
}

div.p-1 {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-around;
    min-height: 50vh;
}

.about-page:before {
    opacity: .5;
}

div.p-2 {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    max-width: 900px;
}

div.p-3 {
    min-height: 30vh;
}

@media (min-width: 658px) {
    
}
  
@media screen and (max-width: 680px) {
    .about-page-upper {
        font-size: 18px !important;
    }
    .about-page-upper h2 {
        font-size: 29px;
    }
}