:root {
    --primary: #333138;
}

html {
    /* scroll-padding-top: 50px; */
}

.carousel {
    /* border-radius: 8px !important; */
}

/* .carousel .control-next.control-arrow:before {
    margin: 0px 15px 0 0px;
    margin-left: 10px;
    display: block;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    content: ''
}
.carousel .control-prev.control-arrow:before {
    margin: 0 10px;
    margin-right: 10px;
    display: block;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    content: ''
}
 
.carousel .control-next.control-arrow:before:hover {
    border-left: 8px solid rgba(168, 2, 2, 0.5) !important;
} */

@media (max-width: 500px) {

    .big-baller-carousel.aerials .slide {
        height: 300px;
        max-width: 400px;
    }
}

.big-baller-carousel {
    max-width: 400px;
}


.big-baller-carousel.aerials {
    margin-bottom: 20px;

} 

.big-baller-carousel.aerials img {
    width: 100% !important;
    padding: 12px 15px !important;
    height: 100%;
}



.carousel.carousel-slider {
    overflow: inherit;
}

@media (max-width: 658px) {
    .carousel .control-arrow, .carousel.carousel-slider .control-arrow {
        margin: 15px;
    }
    .carousel .control-arrow, .carousel.carousel-slider .control-arrow:hover {
        background-color: transparent !important;
    }
    .carousel .control-next.control-arrow, .carousel .control-next.control-arrow:hover {
        border: none;
        right: -10px;
    }

    .carousel.control-prev.control-arrow {
        
    }
    .carousel .control-prev.control-arrow, .carousel .control-prev.control-arrow:hover {
        background-color: none;
        left: -15px;
    }
    .carousel .control-arrow, .carousel.carousel-slider .control-arrow {
        opacity: 1;
    }
    .carousel .control-next.control-arrow:before {
        content: '';
        border: solid whitesmoke;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 9px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .carousel .control-prev.control-arrow:before {
        content: '';
        border: solid whitesmoke;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 9px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
}

@media (min-width: 658px) {
    .big-baller-carousel.aerials img {
        width: 100% !important;
    }

    .carousel .control-arrow, .carousel.carousel-slider .control-arrow {
        margin: 15px;
    }
    .carousel .control-arrow, .carousel.carousel-slider .control-arrow:hover {
        background-color: transparent !important;
    }
    .carousel .control-next.control-arrow, .carousel .control-next.control-arrow:hover {
        border: none;
        right: 13px;
    }
    .carousel .control-prev.control-arrow, .carousel .control-prev.control-arrow:hover {
        background-color: none;
        left: -5px;
    }
    .carousel .control-arrow, .carousel.carousel-slider .control-arrow {
        opacity: 1;
    }
    .carousel .control-next.control-arrow:before {
        content: '';
        border: solid whitesmoke;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 14px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .carousel .control-prev.control-arrow:before {
        content: '';
        border: solid whitesmoke;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 14px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
}

.carousel .control-next {
    /* padding-right: 12px !important; */
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
    /* margin: 15px; */
    width: 35px;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow:hover {
    background-color: rgb(179, 179, 179, .5);
    border-radius: 4px;
    transition: .5s ease-in;
}

.carousel-container {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.tools-carousel, .carousel .slide iframe {
    /* align-items: center;
    justify-content: center; */
    margin: 0 auto;
}

.big-baller-carousel .slide iframe {
    /* align-items: center;
    justify-content: center; */
    margin: 0 auto;
}

.aerials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    max-height: 700px;
}

.thumb {
    display: none !important;
}

.triton-info {
    /* padding: 20px 0 0 40px !important; */
}

.tools-carousel {
    /* background-color: white !important; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    position: relative;
    /* overflow: hidden; */
    max-height: 700px;
    width: 95%;
    padding: 0;
    z-index: 0;
}

.big-baller-carousel {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    position: relative;
    /* overflow: hidden; */
    max-height: 700px;
    width: 95%;
    /* height: 300px; */
    /* width: 80%; */
    padding: 0;
}

.container-fluid {
    /* display: block !important; */
    /* position: absolute; */
    padding: 20px 0 0 0;
    /* max-height: 500px; */
    /* min-height: 400px; */
    /* overflow-y: hidden !important; */
}

.tools-carousel div.process-trailer {
    width: 0 !important;
}

.tools-carousel div {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    /* text-align: center; */
    /* width: 100%; */
    margin: 0 auto;
    /* padding-bottom: 10px; */
}

@media screen and (min-width: 658px) {
    .tools-carousel div iframe {
        padding: 20px 20px 20px 20px;
    }
    .carousel div iframe {
        padding: 20px 30px 20px 30px;
    }
}

#cameracar-carousel div img {
    /* width: 300px; */
    margin: 0 auto;
    position: relative !important;
}

.tools-carousel div img {
    /* position: relative; */
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10%;
}

.big-baller-carousel div img {
    /* margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    padding: 10%;
}

.big-baller-carousel .sixty-foot {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0 !important;

}

.page-view {
    width: 100vw;
}

@media (min-width: 500px) {
    .carousel-inner {
        /* text-align: middle; */
        /* background-color: black; */
        max-height: 450px;
        /* overflow: hidden; */
    }
}

@media (max-width: 600px) {}

@media (min-width: 700px) {}

.header-info p {
    text-align: left;
}

.drone, .crane, .photoboat {
    /* margin: 10px; */
    /* background-color: whitesmoke !important; */
    transition: .2s ease-out;
    border-radius: 5px;
    /* max-width: 1000px !important; */
    min-width: 300px !important;
    max-width: 800px;
}

.drone:hover, .crane:hover, .photoboat:hover {
    /* background-color: #b6c1ca !important; */
    transition: .7s ease;
    border-radius: 5px;
}

section.tools {
    /* margin-top: 10px; */
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* min-width: 50em; */
    /* background-color: black; */
    z-index: 1;
}

.tool-sections h3 {
    font-size: 29px;
    font-weight: bold;
}

div.tools-image-container {
    max-width: 90%;
}

div.cameras__ul {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 658px) {
    .cameras__ul {
        display: flex !important;
        flex-direction: row !important;
    }
    .cameras__ul div {
        margin-left: 80px;
    }
}

.carousel .control-prev.control-arrow:before {
    z-index: 0 !important;
}

.tools-sidebar {
    padding: 10px;
    font-size: 10px;
    /* margin-top: 70px; */
    top: 0;
    max-width: 230px;
    position: fixed;
    z-index: 5;
    background-color: whitesmoke;
    /* border-top-right-radius: 5px; */
    /* border-bottom-right-radius: 5px; */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    /* height: 350px; */
    transition: .1s ease-in-out;
}

.tools-sidebar li {
    width: 100vw;
    margin: 0;
    /* padding: 5px 0 5px 20px !important; */
}

.tools-sidebar a {
    color: black !important;
}

.tools-sidebar a:hover {
    color: rgb(79, 78, 85) !important;
    cursor: pointer;
}

.tools-sidebar ul {
    width: 100%;
    margin: 0;
}

@media (max-width: 768px) {
    .tools-sidebar {
        /* position: relative !important;
        z-index: 1; */
    }
}

.tools-sidebar li a:hover {
    cursor: pointer;
    border-bottom: 1px solid black;
    text-decoration: none;
}

.control-arrow {
    width: 20px;
}

.tool-sections {
    text-align: center;
    margin: 40px 0 0 0;
    color: black;
    padding: 8px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.tool-description {
    margin: 1px 20% 1px 20%;
}

.tool-sections ul {
    list-style: square;
}

/* Tools Section Styles */

.header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 0px 10px;
    max-width: 700px;
}

.header-info img {
    max-width: 500px;
}

.photoboats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* flex-wrap: wrap; */
}

.photoboats h3 {
    color: black;
}

.photoboat {
    color: black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 658px;
    min-width: 300px;
    /* margin: 10px; */
    /* padding-left: 30px;  */
    /* max-height: auto; */
    transition: .2s ease-out;
}

@media (max-width: 750px) {

    .cranes p {
        max-width: 500px;       
    }
}

.photoboat h4 {
    font-size: 28px;
    font-weight: 600;
}

.photoboat:hover {
    /* background-color: #b6c1ca; */
    transition: .4s ease;
    border-radius: 5px;
}

.photoboat .shotcalla {
    /* width: 100%; */
    /* margin: 10px; */
    /* min-width:90%; */
    /* max-width: 400px; */
    /* height: 90%; */
    /* margin: 10px; */
}

.crane-header {
    color: black;
}

.jib-video {
    margin: 0 0 10px 30px;
    padding: 0;
    width: auto;
}

.lenses {}

.header-info p {
    max-width: 1000px;
}

.pbj-image {
    width: 100%;
    /* margin: 10px; */
}

.bigballer-image {
    /* margin: 10px; */
    height: 80%;
}

.tool-sections hr {
    border-bottom: 2px solid #495c70;
    width: 90%;
}

.photoboat .header-info ul {
    display: flex;
    list-style: square;
    flex-direction: column;
}

/* Cranes styles */

.big-hr {
    border: 1px solid #495c70;
    width: 100%;
}

.header-info a {
    text-decoration: underline;
}

.header-info a:hover {
    text-decoration: underline;
    color: gray !important;
}

.crane-pic-1 {
    max-width: 600px;
}

.cranes {
    /* background-color: #FFFFFA; */
    color: black;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* width: 500px; */
    /* flex-wrap: wrap; */
    /* white-space: wrap; */
    align-items: center;
    justify-content: center;
}

@media (min-width: 658px) {
    .cranes {
        flex-direction: column;
        
        max-width: 800px;
    }
}

.crane {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 450px;
    padding: 10px;
    min-width: 80%;
    /* border-right: 1px solid black; */
    /* background-color: #FFFFFA; */
    /* border: 2px solid gray inset; */
    transition: .2s ease-out;
}

.crane:hover {
    background-color: #b6c1ca;
    transition: .4s ease;
    border-radius: 5px;
}

.triton-arm-image {
    width: 100%;
    /* margin: 10px; */
}

/* Drone styles */

.drones {
    /* background-color: #FFFFFA; */
    color: black;
    margin: 0;
    padding: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.drone:hover {
    background-color: #b6c1ca;
    transition: .4s ease;
    border-radius: 5px;
}

div.drones h3 {
    color: black;
    margin: 8px;
}

.drone {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 450px;
    padding: 10px;
    min-width: 80%;
    /* border-right: 1px solid black; */
    /* background-color: #FFFFFA; */
    color: black;
    /* border: 2px solid gray inset; */
    transition: .2s ease-out;
}

/* lenses styles */

.lenses {
    /* background-color: #FFFFFA; */
    color: black;
    margin: 0;
    padding: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.down-arrow {
    transition-duration: 1s ease-in;
}

section.tools ul {
    padding: 0;
    list-style: none;
    font-size: 2em;
    color: black;
    /* z-index: 10; */
}

section.tools ul li {
    /* z-index: 1; */
    transition: .2 ease-in-out .5s;
}

img.shotcalla {
    width: 70%;
}

.photoboat-container {
    border-bottom: 1px solid black;
    /* border-radius: 20px; */
    padding: .5em;
    /* background-color: whitesmoke; */
}

a:hover {
    color: gray;
}

a:hover {
    color: gray;
    transition: 100ms ease-in 25ms;
}

.photoboats-expanded-info {
    position: relative;
    margin-top: 18em;
}

.photoboats-expanded-info h3 {
    font-size: 2em;
    /* background-color: black;
     color: white; */
}

.divider {
    position: relative;
    height: 5em;
    width: 100vw;
    background-color: black;
    border: 4px solid whitesmoke;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    margin-left: 25%;
    /* height: 0 !important; */
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

.sticky-sidebar {
    padding: 10px;
    font-size: 10px;
    margin-top: 70px;
    max-width: 230px;
    position: fixed;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    /* border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    /* height: 350px; */
    transition: .2s ease-in;
}

.sticky-sidebar li {
    width: 100vw;
    padding: 5px 0 5px 20px !important;
    right: 0;
    margin: 0;
}

.sticky-sidebar a {
    color: black !important;
}

.sticky-sidebar a:hover {
    color: rgb(79, 78, 85) !important;
}

.sticky-sidebar ul {
    width: 100%;
    margin: 75px 0 0 0;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    /* padding: 0 0 0 20px; */
}

@media screen and (max-width: 650px) {
    .crane, .drone, .photoboat {
        max-width: 320px !important;
    }
    section.tools {
        /* width: 100%; */
        width: 100vw !important;
        max-width: 650px !important;
        flex-wrap: wrap;
    }
    .tools-sidebar {
        /* position: fixed !important; */
        /* margin-top: 20px !important; */
        /* top: 0px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        /* width: 15% !important; */
        /* max-width: 100% !important; */
    }
    .tools-sidebar ul {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /* width: 80% !important; */
        margin-top: 75px;
    }
    .tool-sections {
        margin-top: 100px;
        margin-left: 0;
    }
    .tools-sidebar ul li {
        width: 100%;
        padding: 5px 0 5px 10px !important;
    }
}