:root {
    --primary: #333138;
}

html {
    scroll-padding-top: 100px;
}

.header-info p {
    text-align: left;
}

.drone, .crane, .photoboat {
    margin: 10px;
    background-color: whitesmoke !important;
    transition: .2s ease-out;
    border-radius: 5px;
}

.drone:hover, .crane:hover, .photoboat:hover {
    background-color: #b6c1ca !important;
    transition: .4s ease;
    border-radius: 5px;
}

section.tools {
    margin-top: 5em;
    padding-top: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* min-width: 50em; */
    /* background-color: black; */
    z-index: -1;
}

div.tools-image-container {
    max-width: 400px;
}

.tools-sidebar {
    padding: 10px;
    font-size: 10px;
    margin-top: 380px;
    max-width: 300px;
    /* position: fixed; */
    z-index: 5;
    background-color: #93A8AC;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /* height: 350px; */
}

@media (max-width: 768px) {
    .tools-sidebar {
        position: relative !important;
    }
}

.tools-sidebar li a:hover {
    cursor: pointer;
    border-bottom: 1px solid black;
    text-decoration: none;
}

.tool-sections {
    text-align: center;
    margin: 0 1vw 0 12vw;
    color: black;
    padding: 8px;
}

.tool-sections ul {
    list-style: square;
}

/* Tools Section Styles */

.photoboats {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
}

.photoboats h3 {
    color: black;
}

.photoboat {
    background-color: #FFFFFA;
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 440px;
    min-width: 80%;
    align-content: center;
    justify-content: center;
    margin: 10px;
    transition: .2s ease-out;
}

.photoboat:hover {
    background-color: #b6c1ca;
    transition: .4s ease;
    border-radius: 5px;
}

.photoboat .shotcalla {
    width: 100%;
    margin: 10px;
    /* min-width:90%; */
    /* height: 90%; */
    /* margin: 10px; */
}

.crane-header {
    color: black;
}

.jib-video {
    margin: 0 0 10px 30px;
    padding: 0;
    width: auto;
}

.lenses {

}

.header-info p{
    max-width: 500px;
    
}

.pbj-image {
    width: 100%;
    margin: 10px;
}

.bigballer-image {
    width: 100%;
    margin: 10px;
    /* height: 80%; */
}

.tool-sections hr {
    border-bottom: 2px solid #495c70;
    width: 90%;
}
.photoboat .header-info ul {
    display: flex;
    list-style: square;
    flex-direction: column;
}

/* Cranes styles */

.big-hr {
    border: 1px solid #495c70;
    width: 100%;
}

.header-info a {
    text-decoration: underline;
}

.header-info a:hover {
    text-decoration: underline;
    color: gray !important;
}

.cranes {
    background-color: #FFFFFA;
    color: black;
    margin: 0;
    padding: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.crane {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 450px;
    padding: 10px;
    min-width: 80%;
    /* border-right: 1px solid black; */
    background-color: #FFFFFA;
    /* border: 2px solid gray inset; */
    transition: .2s ease-out;
}

.crane:hover 
{
    background-color: #b6c1ca;
    transition: .4s ease;
    border-radius: 5px;
}
.triton-arm-image {
    width: 100%;
    margin: 10px;
}

/* Drone styles */

.drones {
    background-color: #FFFFFA;
    color: black;
    margin: 0;
    padding: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.drone:hover {
    background-color: #b6c1ca;
    transition: .4s ease;
    border-radius: 5px;
}

div.drones h3 {
    color: black;
    margin: 8px;
}

.drone {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 450px;
    padding: 10px;
    min-width: 80%;
    /* border-right: 1px solid black; */
    background-color: #FFFFFA;
    color: black;
    /* border: 2px solid gray inset; */
    transition: .2s ease-out;
}

/* lenses styles */

.lenses {
    background-color: #FFFFFA;
    color: black;
    margin: 0;
    padding: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


.down-arrow {
    transition-duration: 1s ease-in;
}

section.tools ul {
    padding: 0;
    list-style: none;
    font-size: 2em;
    color: black;
    /* z-index: -100; */
}

section.tools ul li {
    z-index: 1;
    transition: .2 ease-in-out .5s;
}

img.shotcalla {
    width: 60%;
}

.photoboat-container {
    border-bottom: 1px solid black;
    /* border-radius: 20px; */
    padding: .5em;
    background-color: whitesmoke;
}

a:hover {
    color: gray;
}

a:hover {
    color: gray;
    transition: 100ms ease-in 25ms;
}

.photoboats-expanded-info {
    position: relative;
 margin-top: 18em;
}


.photoboats-expanded-info h3{
    font-size: 2em;
    /* background-color: black;
     color: white; */
}

.divider {
    position: relative;
    height: 5em;
    width: 100vw;
    background-color: black;
    border: 4px solid whitesmoke;
}

@media screen and (max-width: 650px) {

    .crane, .drone, .photoboat {
        max-width: 320px !important;
    }

    section.tools {
        /* width: 100%; */
        margin-top: 0;
        width: 100vw !important;
        max-width: 650px !important;
        flex-wrap: wrap;
    }
    
    .tools-sidebar {
        position: relative !important;
        margin-top: 0;
        flex-wrap: wrap;
        width: 100% !important;
        max-width: 100% !important;
    }
    
    .tools-sidebar ul {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 500px !important;
    }

    .tool-sections {
        margin-top: 100px;
        margin-left: 0;
    }
}