section.tools {
    margin-top: 5em;
    padding-top: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-width: 50em; */
    /* background-color: black; */
    z-index: -1;
}

section.tools .tools-header {
    
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

@media (min-width: 600px) {
    .MuiGrid-container {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 55em;
    }
}

.MuiGrid-grid-xs-6 {
        border: 5px solid red;
        border-radius: 20px;
        height: 30em;
        padding: 5px;
        margin: 10px;
}

.MuiGrid-grid-xs-6.spacing {
    margin: 5px;
}

.card {
    height: 30em;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 1em;
    z-index: -1;
    border: 5px solid red;
    background-color: red;
}

.down-arrow {
    transition-duration: 1s ease-in;
}

.arrow-expanded {
    transform: rotateX(180deg);
    transition-duration: 1s ease-in-out;
}

section.tools ul {
    padding: 0;
    list-style: none;
    font-size: 2em;
    color: black;
    /* z-index: -100; */
}

section.tools ul li {
    z-index: 1;
    transition: 1s ease-in-out .5s;
}

img.shotcalla {
    width: 70%;
}

.photoboat-container {
    border-bottom: 1px solid black;
    /* border-radius: 20px; */
    padding: .5em;
    background-color: whitesmoke;
}

ul li:hover {
    border-top: 1px solid black;
}

section.tools ul li:hover {
    color: gray;
    transition: 1s ease-in-out 25ms;
}

.photoboats-expanded-info {
    position: relative;
 margin-top: 18em;
}


.photoboats-expanded-info h3{
    font-size: 2em;
    /* background-color: black;
     color: white; */
}

.divider {
    position: relative;
    height: 5em;
    width: 100vw;
    background-color: black;
    border: 4px solid whitesmoke;
}