:root {
    margin: 0;
    padding: 0;
}
.page-view {
    /* display: flex;
    justify-content: center; */
    margin: 0;
    top: 0;
}

.background-color {
    background-color: gray;
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 80vh;
    margin-top: 8em;
    /*do not adjust margins here */
    /* border-radius: 20px; */
    width: 100%;
    margin-right: 0 !important;
    /* margin: 0; */
    padding: 0;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-container {
    display: flex;
        justify-self: center;
}

.jordy-logo {
    width: 100%;
}

.xcam-img{
    width: 35%;
    height: 47px;
    background-color: black;
    border-radius: 10px;
}

.social-links {
    width: 70%;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-between;
}

.landing-page-content { 
     border: 5px solid black;
    border-radius: 10px;
    margin-top: 5em;
    width: 90%;
    /* transform: skewY(-11deg); */
}

.hr-container{
    position: relative;
}

.hr-container:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin-top: 4em;
    background-image: linear-gradient(45deg, black, #20494d);
    transform: skewY(3deg);
    opacity: .9;
    height: 11em;
    width: 100%;
    /* width: 100vmax; */
    /* border: 10px solid red; */
    box-shadow: 5px 9px 0px 0px black;
    background: linear-gradient(45deg, #002e31, #075258);
    /* padding-block: 0; */
    -webkit-backface-visibility: hidden;
}

.content {
    color: whitesmoke;
    font-size: 24px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5em;
    position: relative;
}

/* Second skewed container */

.hr-container-2{
    position: relative;
}

.hr-container-2:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin-top: 5em;
    background: linear-gradient(45deg, #002e31, #075258);
    /* background-image: linear-gradient(45deg, #654ea3, #eaafc8); 	 */
    transform: skewY(-4deg);
    opacity: .9;
    height: 10em;
    box-shadow: 5px 4px;
    opacity: .9;
    -webkit-backface-visibility: hidden;
}

.content-2 {
    color: whitesmoke;
    font-size: 24px;
    margin-left: 10%;
    /* margin-right: 10%; */
    margin-top: 5em;
    position: relative;
}

#hr {
    /* border-top:1px solid #ff00ff;  */
    /* transform: skewY(-11deg); */
    /* height:100px;  */
    /* margin-left:-140px;
    -moz-transform: rotate(45deg);  
    -o-transform: rotate(45deg);  
    -webkit-transform: rotate(45deg);  
    -ms-transform: rotate(45deg);  
    transform: rotate(20deg);  */
}

/* #hr-container-top {
    position: relative;
    /* transform: rotate(20deg);
    opacity: .5;
    transform: skewY(-4deg);
    margin-bottom: 5em;
    /* border-top: 1px solid #000;  */
    /* background-color: gray;
    width: 100vw; 
    height: 250px;
    z-index: -1000;  */

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    padding: 0;
    width: 100vw;
}

.arrow-pointer {
    margin-top: .4em;
    padding-top: 0;
    margin-bottom: 1em;
}

.arrow {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fancy-text-pointer {
    font-size: 1.4em;
}

.about-work {
    margin-top: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    color: white;
    width: 100%;
}

@media screen and (max-width: 650px) {
    .about-work-examples {
        display: flex;
        flex-direction: column !important;       
    }
}

.about-work-header span {
    justify-content: flex-end;
}

.about-work-header {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video {
    margin: .8em;
    position: static;
    padding-top: 10px;
    padding-bottom: 10px;
    transition-duration: .4s;
}
/* 
.video:hover {
 padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px 5px 10px 5px;
    transform: scale(1.2, 1.2);
    background-color: whitesmoke;
    box-shadow: 0 3px 0 0; 
    transition-duration: .5s;
    border-radius: 11px;
    cursor: pointer;
} */

.about-work-examples {
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 10px;
}

.about-header-words {
    max-width: 200px;
    background-color: teal;
    max-height: 100px;
    border-radius: 20px;
    padding: .4em;
}

section.jordys-specialties {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    /* padding-top: 4em; */
    background-color: white;
    z-index: 100;
    width: 100%;
    padding: 0 30px 0 30px;
}

.lower-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 650px) {

    section.jordys-aerials {
        height: 600px !important;
    }

    section.jordys-specialties {
        height: 400px !important;
        flex-direction: column !important;    
    }

    .lower-section {
        flex-direction: column !important;
    }
    
    .margin-divider {
        /* height: 800px !important; */
        padding: 50px 0 50px 0 !important;
        flex-direction: column !important;
    }
}

.span-holder {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    font-size: 1.5em;
    margin-left: 1.3em;
    /* background-color: white; */
    /* z-index: 1; */
}

.photoboat-img {
    height: 11em;
}

.fab {
    color: black;
}

section.jordys-aerials {
    background: black;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 450px;
    padding: 0 20px 0 20px;
}

.background-video-container {
    position: absolute;
    z-index: -1;
    background-size: 100% 100%;
    top: 0px;
    left: 0px; /* fixed to left. Replace it by right if you want.*/
    min-width: 100vw;
    min-height: 950px;
     width: 100%;
    height: 100%; 
    overflow: hidden;
/* object-fit: fill !important; */
    opacity: .8;
    z-index: -1;
}

.background-video-container video {
    position: absolute;
    /* top: 50%;
    left: 50%; */
    min-width: 100% !important;
    min-height: 100% !important;
    /* width: auto !important; */
    /* height: auto !important; */
    z-index: -100;
    /* transform: translate(-50%, -50%); */
    z-index: -100;
    opacity: .8;
}

.background-video-container-2 {
    position: absolute;
    z-index: -1;
    /* background-size: 100% 100%; */
    /* top: 0px; */
    left: 0px; /* fixed to left. Replace it by right if you want.*/
    min-width: 100%;
    min-height: 100%;
     width: 100%;
    height: 100; 
    overflow: hidden;
object-fit: fill !important;
    opacity: .8;
    z-index: -1;
}

.background-video-container-2 video {
    position: absolute;
    /* top: 50%;
    left: 50%; */
    min-width: 100% !important;
    min-height: 100% !important;
    /* width: auto !important; */
    /* height: auto !important; */
    z-index: -100;
    /* transform: translate(-50%, -50%); */
    z-index: -100;
    opacity: .8;
}
/* .iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }

  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  } */

.span-holder {
    /* width: ; */
    min-width: 10em;
}

.span-holder span a {
    color: white !important;
    text-decoration: underline;
}

.mfd-5000 {
    /* width: 60%; */
    /* margin-left: 8em; */
    height: 13em;
    /* width: 20 */
}

.mfd-5000-drone video {
    height: 300px;
    width: 350px;
}

.margin-divider {
    display: flex;
    align-items: center;
    margin: 10%;
}

header a:hover {
    color: gray !important;
    transition-duration: .2s ease-in;
}

.clients {
    width: 100vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.clients img {
    width: 100vw;
    height: auto;
}