:root {
	--primary: linear-gradient(45deg, #002e31, #075258);
	--secondary: #075258;
	--third: #002e31;
}


body {
  /* background: rgb(2,0,36);
background: linear-gradient(30deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 39%, rgba(0,212,255,1) 98%); */
background: whitesmoke;
width: 100vw;
height: 100vh;
font-family: 'Montserrat', sans-serif;
}

@-webkit-keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
  }
}