nav {    
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
    background-color: whitesmoke;
    width: auto;
    z-index: 1500;
    font-size: large;
}

header {
    width: 100%;
}

li.logo img {
    height: 5em !important;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    /* min-width: 920px; */
}

nav ul li {
    list-style: none;
}

.logo {
    margin-top: 1em;
    display: flex;
    list-style-type: none;
    padding-right: 20px;
    align-items: center;
    vertical-align: middle;
    font-size: 1.4em;
    height: auto;
    padding: 0 0 1em 0;  
}

nav ul li.right-side-nav {
    color: black;
    font-size: 24px;
    justify-content: flex-end;
}

.right-side-nav {
   float: right;
   margin-right: 0;
   transition: .2s ease-out;
}

li.right-side-nav:hover {
    transition: .4s ease-in;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

.right-side-nav:active {
    border-bottom: 1px solid gray;
}

.end {
    margin-right: 1em;
}

.logo-text-left {
    vertical-align: top;
    margin-left: 5px;
    min-width: 170px;
    max-width: 170px;
}

.logo-text-right {
    vertical-align: top;
    margin-top: 10px;
    padding-top: 10px;
}

a {
    color: black !important;
}