.work-page {
    margin-top: 15px;
    padding: 0 8% 0 8%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-row {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.projects-column {
    margin-top: 20px;
    display: flex;
    flex: 100%;
}

.project {
    height: 450px;
    flex: 25%;
    border: 1px solid red;
    margin-left: 40px;
    min-width: 320px;
    height: 300px;
}

div.carousel ul li {
    /* margin: 0; */
}

.projects-grid #player {
    /* margin-right: 10px; */
}

.vimeo-video iframe {
    margin-bottom: 20px;
}

.project-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-header h3 {
    margin: 20px 0 20px 0;
    font-weight: 600;
    align-self: center;
}

.project-header h2 {
    justify-content: center;
    align-self: center;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

div.work-page-header {
    display: flex;
    flex-direction: column;
    align-content: center !important;
    justify-items: center !important;
    text-align: center; 
    align-self: center;
}

section.work-page h6 {
    text-align: center;
}

@media screen and (max-width: 800px) {
    
.projects-row {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.projects-column {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex: 100%;
}

.project {
    height: 450px;
    flex: 25%;
    margin: 30px 0 20px 0;
    min-width: 320px;
    height: 300px;
}
}

.vimeo-video iframe {
    margin-bottom: 20px;
    /* padding: 10px; */
    padding-left: 0;
    margin-left: 0;
}

@media (min-width: 500px) {
    .carousel-root {
        width: 80%;
    }

}

@media (max-width: 500px) {
    .carousel-root {
        width: 300px;
    }
    
}
@media (max-width: 360px) {

    .carousel-root {
        width: 300px;
        /* padding-left: 10px; */
    }
}

@media (min-width: 768px) {
    .projects-grid {
        margin: 0 100px 0 100px;
    }

    .vimeo-video iframe {
        margin-bottom: 20px;
        padding: 25px;
    }

    
    
}